.suggestionSidebar{
  margin-top: 80px;
}
.is-sticky {
  right: 136px;
  top:0;
  bottom:0;
  margin-top:0;
  position:fixed;
  overflow-y:scroll;
  overflow-x:hidden;
  width:27%;
}
.meta {
  display: block;
  margin-top: 4px;
}

.meta-title {
  font-size: 15px;
}

.meta-info {
  font-size: 12px;
  font-weight: 200;
  font-style: italic;
}

.bibliography {
  padding: 7px 0;
  margin: 7px 0;
  border-bottom:1px solid #eaeaea;
}

.citation {
  color: @orange;
  cursor: pointer;
}

.numberRecs{
  display: none;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #eee;
}

.citation_holder {
  border: 1px solid #eee;
  background: #f6f6f6;
  display: none;
  padding: 14px;
  font-style: italic;
  margin:14px 0 14px -20px;
}

.suggestion .citing_text {
  display: none !important;
}

.citing_article{
  cursor:pointer;
  padding-left: 2%;
}

.citing_article:hover,
.shown_suggestion {
  border-left: 4px solid #eee;
  margin-left: -1%;
}

.number_of_cites,
.author,
.pub_year {
  font-style: italics;
  font-weight: 300;
  font-size: 13px;
}

.citing_text {
  border-left: 2px solid @orange;
  margin-left: -6px;
  padding-left: 10px;
  &:last-child{
    margin-bottom:0;
  }
}